<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="logo">
        <img src="../../assets/logo.png" alt="logo.jpg  " />
        <h1>Welcome</h1>
        <p>Please sign in to your account below</p>
        <button class="signin" (click)="login()">Sign In</button>
        <p>Dont have an account?<a class="reg" (click)="signup()">Register</a></p>
      </div>
    </div>
    <div class="col-sm-6 img1">
      <img class="cover" src="../../assets/img1.jpg" alt="cover.jpg" />
    </div>
  </div>
</div>