
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background:rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:white;
}
.container{
  position: relative;
  width: 80%;
  height:0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
text-align: start;
padding-bottom: 20px;
margin-left: 32px;
text-decoration: none;
}
.t1{
text-decoration: none;
}
h2,p{
text-align: center;
padding:10px;
font-weight: 100;

}
.logo{
max-width: 80%;
padding: 50px;
padding-bottom: 20px;
}

.login-box form {
  width: 100%;
  padding: 0 50px;
}
.input-box{
position: relative;
margin:20px;
}
.input{
border: 1px solid #c2c8d0;
}
.box{
padding: 30px;
}
.input-box input{
width:95%;
height:50px;
outline: none;
font-size: 1em;
transition:0.3s;
border-color:#c2c8d0;
border-radius: 4px;
}
.input-box input:focus ,
.input-box input:valid {
border-color:#007bad;
}
.input-box label{
position:absolute;
top:50%;
left: 20px;
transform: translateY(-50%);
color: #abaaaa;
pointer-events: none;
transition: 0.5s ease;
}
.input-box input:focus ~label,
.input-box input:valid ~label {
top: 1px;
font-size: 0.8em;
padding: 0 6px;
color:#007bad}
.btn {
  width: 90%;
  height: 45px;
  background:#0059d6;
  border: none;
 /* margin-bottom: 50px; */
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
}
.btn:hover{
background-color: #003176;
}
.t1{
cursor: pointer;
}
.log{
text-decoration: solid;
cursor: pointer;
}